.header {
  background-color: white;
  background-image: url("/images/noise.png");
  background-size: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 30px 5rem 30px;

  @media (max-width: 480px) {
    padding-left: 1rem;
  }
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 900px) {
  .navbar,
  .rightSideContainer {
    display: none !important;
  }
}
