/* Button */
.button {
  background: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  margin: 0 4px;
  padding: 0;
  position: relative;
  top: 5px;
  transform: none;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1) translateZ(0);
}

/* Icon */
.icon {
  font-size: 24px;
  line-height: 32px;
}

