.mainTitlePage {
  padding-bottom: 5rem;

  h2 {
    font-size: clamp(2.5rem, 10vw, 7rem);
    margin: 0 0.5rem;
    font-weight: bolder;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: var(--dark-moon);
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}