@import './theme.scss';

body {
  background-color: var(--dark-cloud);
}

h1 {
  color: var(--);
  font-size: 7rem;
  font-weight: 800;
}

.underlined {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.525rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1;
    background-image: url('/images/underline.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s ease-out;
  }
}